<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xcy.fzb.captain_team">

    <!--TODO 摇一摇-->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!--TODO 百度地图 start-->
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 访问网络，进行地图相关业务数据请求，包括地图数据，路线规划，POI检索等 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取网络状态，根据网络状态切换进行数据请求网络转换 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 读取外置存储。如果开发者使用了so动态加载功能并且把so文件放在了外置存储区域，则需要申请该权限，否则不需要 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 写外置存储。如果开发者使用了离线地图，并且数据写在外置存储区域，则需要申请该权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--TODO 百度地图 end-->

    <application
        android:name=".application.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.xcy.fzb.captain_team.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:launchMode="singleTop"/>    <!--TODO MainActivity-->
        <activity android:name=".view.AllActivity" android:launchMode="singleTop"/>       <!--TODO 总Activity-->
        <activity android:name=".view.BannerPhotoActivity" android:launchMode="singleTop"/>       <!--TODO 查看图片页-->
        <activity android:name=".view.BuildingDynamicActivity" android:launchMode="singleTop"/>       <!--TODO 楼盘动态页-->
        <activity android:name=".view.BigPhotoActivity" android:launchMode="singleTop"/>       <!--TODO 户型介绍查看图片页-->
        <activity android:name=".view.BuildingInformationActivity" android:launchMode="singleTop"/>       <!--TODO 楼栋信息页-->
        <activity android:name=".view.OverSeaActivity" android:launchMode="singleTop"/>       <!--TODO 海外和旅居界面-->
        <activity android:name=".view.WebViewActivity" android:launchMode="singleTop"/>       <!--TODO 新闻详情页-->
        <activity android:name=".view.ProjectDetails" android:launchMode="singleTop"/>       <!--TODO 项目详情页-->
        <activity android:name=".view.PhotoTileActivity" android:launchMode="singleTop"/>       <!--TODO 相册详情页-->
        <activity android:name=".view.MoreInformationActivity" android:launchMode="singleTop"/>       <!--TODO 更多信息页-->
        <activity android:name=".view.MessageCommentActivity" android:launchMode="singleTop"/>       <!--TODO 楼盘评论页-->
        <activity android:name=".view.WebActivity" android:launchMode="singleTop"/>       <!--TODO 新闻详情页-->
        <activity android:name=".view.ProjectSellingPointsnActivity" android:launchMode="singleTop"/>       <!--TODO 项目卖点页-->
        <activity android:name=".view.ProjectPointsActivity" android:launchMode="singleTop"/>       <!--TODO 项目海报页-->
        <activity android:name=".view.ProjectVideoActivity" android:launchMode="singleTop"/>       <!--TODO 项目视频页-->
        <activity android:name=".view.PurchaseNoticeActivity" android:launchMode="singleTop"/>       <!--TODO 购房需知页-->
        <activity android:name=".view.RecyclerViewActivity" android:launchMode="singleTop"/>       <!--TODO 城市项目页-->
        <activity android:name=".view.SearchInterfaceActivity" android:launchMode="singleTop"/>       <!--TODO 搜索界面-->

        <activity android:name=".view.ReviewTheSuccessActivity" android:launchMode="singleTop"/>       <!--TODO 客户详情页-->
        <activity android:name=".view.FillInTransactionInformationActivity" android:launchMode="singleTop"/>       <!--TODO 成交信息页-->
        <activity android:name=".view.ConfessToRaiseInformationActivity" android:launchMode="singleTop"/>       <!--TODO 认筹信息页-->

        <activity android:name=".view.ToApplyForAnlsland2Activity" android:launchMode="singleTop"/>       <!--TODO 申请登岛-->
        <activity android:name=".view.ToApplyForAnIslandActivity" android:launchMode="singleTop"/>       <!--TODO 申请登岛-->
        <activity android:name=".view.EssentialInformationActivity" android:launchMode="singleTop"/>       <!--TODO 基本信息-->
        <activity android:name=".view.ReportActivity" android:launchMode="singleTop"/>       <!--TODO 报备信息-->
        <activity android:name=".view.MessageIssueActivity" android:launchMode="singleTop"/>       <!--TODO 消息添加-->
        <activity android:name=".view.MyClientActivity" android:launchMode="singleTop"/>       <!--TODO 我的客户-->
        <activity android:name=".view.MyClientAddActivity" android:launchMode="singleTop"/>       <!--TODO 客户添加-->

        <activity android:name=".view.TeamMemberActivity" android:launchMode="singleTop"/>       <!--TODO 团队人员-->
        <activity android:name=".view.AddAConsultantActivity" android:launchMode="singleTop"/>       <!--TODO 添加顾问-->
        <activity android:name=".view.AddSalesActivity" android:launchMode="singleTop"/>       <!--TODO 添加销售-->
        <activity android:name=".view.BatchModifyingActivity" android:launchMode="singleTop"/>       <!--TODO 批量修改级别-->
        <activity android:name=".view.SelectBrokerActivity" android:launchMode="singleTop"/>       <!--TODO 选择经纪人-->
        <activity android:name=".view.SalesDetails" android:launchMode="singleTop"/>       <!--TODO 销售详情-他的顾问-->
        <activity android:name=".view.CommissionLevelActivity" android:launchMode="singleTop"/>       <!--TODO 佣金级别设置-->
        <activity android:name=".view.MarketActivity" android:launchMode="singleTop"/>       <!--TODO 销售-下级顾问-->
        <activity android:name=".view.MyTeamActivity" android:launchMode="singleTop"/>       <!--TODO 我的团队-->


        <activity android:name=".view.PersonalInformationActivity" android:launchMode="singleTop"/>     <!--TODO 个人信息-->
        <activity android:name=".view.AboutFZBActivity" android:launchMode="singleTop"/>        <!--TODO 关于房坐标-->
        <activity android:name=".view.FeedbackActivity" android:launchMode="singleTop"/>        <!--TODO 意见反馈-->
        <activity android:name=".view.CollectActivity" android:launchMode="singleTop"/>     <!--TODO 我的收藏-->
        <activity android:name=".view.DisclaimerActivity" android:launchMode="singleTop"/>      <!--TODO 免责声明-->

        <activity android:name=".view.BackToRaiseThatActivity" android:launchMode="singleTop"/>      <!--TODO 填写退筹说明-->
        <activity android:name=".view.BindingPhoneActivity" android:launchMode="singleTop"/>      <!--TODO 绑定手机号-->
        <activity android:name=".view.ChangePhoneActivity" android:launchMode="singleTop"/>      <!--TODO 更换手机号-->
        <activity android:name=".view.ClientParticularsActivity" android:launchMode="singleTop"/>      <!--TODO 客户管理-->
        <activity android:name=".view.ConfessToRaiseDetailsActivity" android:launchMode="singleTop"/>      <!--TODO 认筹详情-项目进度-->
        <activity android:name=".view.ConfirmTheVisitActivity" android:launchMode="singleTop"/>      <!--TODO 确认到访-->
        <activity android:name=".view.FailureActivity" android:launchMode="singleTop"/>      <!--TODO 失效详情-项目进度-->
        <activity android:name=".view.ListOfBackActivity" android:launchMode="singleTop"/>      <!--TODO 填写退单说明-->
        <activity android:name=".view.MakeABargainActivity" android:launchMode="singleTop"/>      <!--TODO 成交详情—项目进度-->
        <activity android:name=".view.MyProjectActivity" android:launchMode="singleTop"/>      <!--TODO 我的项目-->
        <activity android:name=".view.SetPasswordActivity" android:launchMode="singleTop"/>      <!--TODO 更改密码-->
        <activity android:name=".view.ToLoginActivity" android:launchMode="singleTop"/>      <!--TODO 第三方登录-->
        <activity android:name=".view.UnderReviewActivity" android:launchMode="singleTop"/>      <!--TODO 登岛详情-->

        <activity android:name=".view.VisitingScheduleActivity" android:launchMode="singleTop"/>      <!--TODO 到访项目进度-->

        <activity android:name=".view.CommissionTheProjectEndActivity" android:launchMode="singleTop"/>      <!--TODO 团队佣金-->

        <activity android:name=".view.SalesDetailsDetailsActivity" android:launchMode="singleTop"/>      <!--TODO 真·销售详情-->


    </application>

</manifest>